@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap");

.hero {
  background-size: cover;

  background: url("../Export/Hero-image.png") no-repeat center fixed;
  background-size: cover;

  width: 100vw;
  /*     
    background-image: linear-gradient(rgba(15, 118, 187, 0.829), rgba(21, 150, 236, 0.897)), url('../images/main-bg.jpeg');
    background-size: cover; */
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
}

.nav-items ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-items ul li a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  margin-right: 90px;
  font-family: "Chakra Petch", sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.nav-items ul li a:hover {
  color: yellow;
}
.nav-login input[type="button"] {
  background-color: yellow;
  font-family: "Chakra Petch";
  font-weight: 700;
  font-size: 1rem;
  color: #005b97;
  border: none;
  border-radius: 10px;
  padding: 5px 25px;
  margin: 10px;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 1px;
}
.nav-login input[type="button"]:hover {
  color: #005b97;
  background-color: white;
}
.hero-title {
  text-align: center;
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Chakra Petch";
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.5;
  color: white;
  text-transform: uppercase;
  padding: 0 32%;
  letter-spacing: 2px;
}
.hero-btns {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-bottom: 12%;
}
.hero-btns button {
  font-family: "Chakra Petch";
  font-weight: 700;
  background-color: white;
  color: #005b97;
  border: none;
  border-radius: 10px;
  padding: 8px 30px;
  margin: 0 10px 0px 10px;
  margin-top: 5px;
  box-shadow: 0px 1px 3px 0px black;
  transition: 0.1s;
  cursor: pointer;
  z-index: 9999;
}
.btn:hover {
  color: white;
  background-color: #005b97;
}

.section-2 {
  background-color: yellow;
  width: 100vw;
}
.plane {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: yellow;
}
.plane-img {
  position: absolute;
  width: 80%;
}
.features {
  display: flex;
  justify-content: center;
  align-items: center;
}
.features div {
  font-family: "Chakra Petch";
  margin-top: 12%;
  margin: 15% 30px 10px;
  background-color: white;
  padding: 10px 30px;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 50px;
  box-shadow: 0px 1px 10px 0px gray;

  width: 210px;
}
/* .features div {
  margin-top: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.section-3 {
  margin: 40px 45px 50px;
  padding: 20px;
}
.container-3 {
  display: flex;
  justify-content: center;
}
.text {
  padding: 10px;
}
.text p {
  letter-spacing: 1px;
  font-weight: bold;
  padding-right: 7rem;
  line-height: 1.5;
}

.text h1 {
  font-weight: 900;
  font-size: 2rem;
  color: #52a8f9;
  padding: 15px 40% 20px 0px;
  line-height: 1.2;
}
.text .book-now-btn {
  background-color: #52a8f9;
  font-family: "Chakra Petch";
  font-weight: 600;
  font-size: 0.8rem;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 55px;
  margin-right: 10px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.text .book-now-btn:hover {
  background-color: #114779;
  color: white;
}
.phone-call {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.phone-no {
  color: #52a8f9;
  text-decoration: none;
  font-weight: bolder;
}
.vimaan-vali-bai {
  text-align: right;
}
.vimaan-vali-bai img {
  width: 80%;
  border-radius: 30px;
  box-shadow: -40px 20px #d9d9d9, -40px -20px #d9d9d9;
  border-collapse: collapse;
}

.section-4 {
  margin: 40px 45px 20px;
  padding: 20px;
}
.container-4 {
  display: flex;
  background-image: url("../Export/Form.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.container-4 .booking {
  padding-left: 40px;
  padding-top: 30px;
}
.booking p {
  font-size: 1rem;
  font-weight: 900;
  letter-spacing: 1px;
  margin-bottom: 15px;
}
.booking h1 {
  font-weight: bolder;
  font-size: 1.4rem;
  margin-bottom: 20px;
  letter-spacing: 1px;
}
.booking input {
  border: none;
  box-shadow: 0px 1px 10px 0px gray;
  height: 40px;
  width: 16rem;
  margin-bottom: 30px;
  margin-right: 20px;
  outline: none;
}
.booking input::placeholder {
  font-family: inherit;
  padding: 10px 0 10px 10px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #4b4b4b;
}
.booking input[type="button"] {
  background-color: #52a8f9;
  font-family: "Chakra Petch";
  font-weight: 600;
  font-size: 0.8rem;
  color: white;
  border: none;
  border-radius: 5px;
  box-shadow: none;
  margin-bottom: 70px;
  width: 8rem;
}
.booking input[type="button"]:hover {
  background-color: #03416a;
}
.booking-form {
  width: 50%;
  margin-top: 30px;
  margin-bottom: 35px;
}
input[type="text"] {
  padding-left: 0px;
}
.section-5 {
  text-align: center;
}

.section-5 h2 {
  font-weight: 900;
  font-size: 1.6rem;
  padding: 0 36% 0;
  line-height: 1.5;
  margin-bottom: 25px;
}
.section-6 {
  margin: 40px 45px 15%;
  padding: 20px;
}
.cards {
  display: flex;
  justify-content: space-between;
}
.card {
  width: 31%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.card-img img {
  width: 100%;
  padding: 0;
  margin: 0;
}

.card-info {
  position: absolute;
  background-color: #ffffff;
  box-shadow: 4px 7px 11px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  text-align: start;
  padding-top: 20px;
  padding-left: 20px;
  width: 85%;

  margin-top: 53%;
}
.card-info > p:first-child {
  letter-spacing: 0.5px;
  color: #52a8f9;
  font-size: 1.1rem;
  font-weight: 600;
}
.card-info > p:nth-child(2) {
  letter-spacing: 0.5px;
  font-weight: bold;
  font-size: 1.3rem;
  line-height: 2.5;
  color: #232323;
}

.card-info > p:nth-child(3) {
  color: #393939;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1.5;
  padding-bottom: 20px;
  padding-right: 5px;
}
.section-7 {
  margin: 40px 45px 20px;
  padding: 10px;

}
.container-7 {
  background-color: #2593f9;
  padding: 15px 40px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
}
.stats {
  text-align: center;
  width: 250px;
}
.stats > p {
  font-weight: 900;
  letter-spacing: 3px;
}
.stats > p:nth-child(2) {
  font-size: 1.5rem;
  color: yellow;
  margin-top: 20px;
}
.stats > p:nth-child(3) {
  font-size: 1.2rem;
  color: yellow;
}
.stats > img{
  width: 20%;
}
.vl {
  border-left: 2px solid rgba(8, 44, 91, 0.15);
  height: 210px;
}
.section-8 {
  margin: 40px 45px 20px;
  padding: 20px;
}
.container-8 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.heading > p:first-child {
  color: #747574;
  margin-bottom: 20px;
  font-weight: 600;
}
.heading > p:nth-child(2) {
  font-weight: 700;
  font-size: 1.8rem;
  padding: 0 10%;
}
.review {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* padding: 0 0% 0; */
}
.review-card {
  border-radius: 10px;
  background-image: url("../Export/Quotes.svg");
  background-repeat: no-repeat;
  background-size: 4.5%;
  background-position: top 20px left 25px;
  margin-top: 5%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.review-card > img {
  width: 15%;
  top: -50px;
  position: absolute;
}
.review-card > p:nth-child(2) {
  margin-top: 8%;
  font-size: 1.3rem;
  line-height: 2;
  font-weight: bold;
}
.review-card > p:nth-child(3) {
  padding: 0 20px 20px;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: bold;
  color: #393939;
}
.rev-1 {
  margin-right: 105px;
  background-color: #f4f97f;
  box-shadow: 4px 7px 11px rgba(0, 0, 0, 0.25);
}
.rev-2 {
  background-color: #b9e4ff;
  box-shadow: 4px 7px 11px rgba(0, 0, 0, 0.25);
}
